:root {
  --eerie-black: #1A1A1A;
  --floral-white: #FFFAF2;
  --isabelline: #F2EDE6;
  --jet: #333333;
  --platinum: #E6E6E6;
  --timberwolf: #CCC8C2;

  --color-bg: var(--isabelline);
  --color-primary: var(--eerie-black);
  --color-secondary: var(--timberwolf);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-bg: var(--eerie-black);
    --color-primary: var(--isabelline);
  }
}

:root {
  font-family: 'Space Grotesk', monospace;
  font-size: 2em;
}

::selection {
  background-color: var(--color-primary);
  color: var(--color-bg);
}

a {
  color: var(--color-primary);
  opacity: 0.6;
  position: relative;
  text-decoration: none;
  transition: opacity 1s;
}

a::after {
  --size: 2px;

  content: "";
  position: absolute;
  bottom: calc(-1 * var(--size));
  left: 50%;
  width: 0px;
  height: var(--size);
  background-color: var(--color-primary);
  transform: translateX(-50%);
  transition: width 1s;
}

a:hover {
  opacity: 1;
}

a:hover::after {
  width: 100%;
}

body {
  background: var(--color-bg);
  color: var(--color-primary);
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding: 0em;
}

li {
  margin: 0.5em 1em;
}

#greeting {
  font-weight: normal;
  text-align: center;
}
