:root {
  font-family: 'Open Sans', sans-serif;
}

body {
  margin: 6em;

  background-color: #212322;
  color: white;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: #D9D9D6;
}

a:active {
  color: #C8C9C7;
}

nav {
  position: fixed;
  bottom: 50%;
}

nav ul {
  padding: 0em;
  
  list-style-type: none;
  font-size: 1.5em;
}

section {
  margin: 2em;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  gap: 3em;
}

.currentPage {
  color: #8FCAB9;
}
