:root {
  --black0: #212425;
}

body {
  background-color: var(--black0);
  color: white;
}

footer {
  text-align: center;
}

ul {
  padding: 0 24px;
}

.grid {
  display: grid;
  grid-template-rows: auto auto auto;
}

ul.horizontal li {
  display: inline-block;
}
